{
	"port": 3001,
	"databases": {
		"<dbname>": {
			"host": "localhost",
			"port": 5432,
			"user": "postgres",
			"password": "",
			"database": "<database name>"
		}
	},
	"uploads": {
		"database": "<dbname>",
		"schema": "<schema>",
		"directory": "uploads"
	},
	"sourcedir": "sources",
	"server_url": "http://<host>:3001"
}
